{{ partial "head" . }}
{{ partial "navbar" . }}

<div class="container">
<article class="content">
  <div class="post">
		<h3 class="title">{{.Title}}</h3>

		{{ template "_internal/pagination.html" . }}
		{{ range .Paginator.Pages }}
			<a class="list-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
			<time class="list-date" datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
			<br/>
			{{ .Summary }}
			{{ if .Truncated }}
				<div class="read-more-link">
					<a href="{{ .RelPermalink }}">Read More…</a>
				</div>
			{{ end }}
		{{ end }}

  </div>
	{{ partial "nav.html" . }}
</article>
</div>

{{ partial "footer" . }}
